/* -------------------- PHOTOGRAPH INFORMATION --------------------  */
.photograph-header {
	background-color: var(--light-grey);
	height: 18.75rem;
	margin: 0 6.25rem;
	display: flex;
	/* justify-content: space-between; */
	align-items: center;
	padding: 2rem;
}

.photographer__id {
	height: 12.5rem;
	width: 12.5rem;
	border-radius: 50%;
	object-fit: cover;

	margin-left: auto;
}
.photographer__info {
	margin: 0;
	padding: 0;
}

.photographer__name {
	color: var(--secondary);
	font-size: 4rem;
	font-weight: 400;
}

.photographer__location {
	line-height: 2rem;
	color: var(--primary);
	font-size: 1.4rem;
}

.photographer__tagline {
	color: var(--grey);
	font-size: 1.1rem;
	font-style: normal;
	line-height: 3rem;
}

.contact_button {
	font-size: 1.25rem;
	font-weight: bold;
	color: white;
	padding: 0.69rem;
	width: 10.62rem;
	height: 4.38rem;
	border: none;
	background-color: var(--primary);
	border-radius: 0.31rem;
	cursor: pointer;
}

/* -------------------- FILTER ELEMENTS --------------------  */
.media__filter {
	font-weight: 600;
	font-size: 1.1rem;
	display: flex;
	align-items: center;
}
.select {
	position: relative;
	margin-left: 2rem;
	width: 10rem;
	cursor: pointer;
	position: relative;
	background-color: var(--primary);
	color: white;
	border-radius: 0.4rem;
	z-index: 1;
}

.select__options {
	display: none;
	transform-origin: top;
	list-style-type: none;
	position: absolute;
	bottom: -5.8rem;
	background-color: var(--primary);
	width: 10rem;
	padding: 0 1rem;
	box-shadow: 0 0.3rem 0.1rem 0 rgba(0, 0, 0, 0.1);
	animation: filterMenu 150ms ease-in-out;
}
.select__options:last-child {
	border-radius: 0 0 0.4rem 0.4rem;
}

.select__option {
	border-top: 1px solid white;
	padding: 0.8rem 0;
}

.select__current {
	position: relative;
	padding: 1.2rem 1rem;
}

/* Styling the arrow of the select */
.select__current::after {
	position: absolute;
	right: 1rem;
	top: 1.2rem;
	width: 1rem;
	height: 1rem;
	content: '';
	transform: rotate(180deg);
	background-color: white;
	clip-path: polygon(100% 65%, 100% 41%, 50% 0, 0 41%, 0 65%, 50% 25%);
}
/* -------------------- GALLERY --------------------  */

#media-section {
	margin: 1rem 6.25rem;
}

.gallery {
	display: flex;
	justify-content: left; /* gap: 6rem; */
	flex-wrap: wrap;
	margin-top: 3rem;
	row-gap: 2rem;
	column-gap: 5.9rem;
	margin-bottom: 3rem;
}

.media-card > a {
	display: inline-block;
	width: 21.87rem;
	height: 18.75rem;
}
.media-card {
	margin-bottom: 2rem;
	width: 21.87rem;
	height: 18.75rem;
}
/* .media-card__container {
	width: 21.87rem;
	height: 18.75rem;
} */

.media-card__media {
	height: 100%;
	width: 100%;
	object-fit: cover;
	border-radius: 0.5rem;
}

.media-card__description {
	display: flex;
	justify-content: space-between;
	padding-top: 1rem;
	font-size: 1.09rem;
	font-weight: 600;
	color: var(--primary);
}

.media-card__description span {
	padding-left: 0.3rem;
	cursor: pointer;
}

.likesAndPrice {
	font-size: 1.3rem;
	background-color: var(--light-red);
	width: 15rem;
	display: flex;
	justify-content: space-between;
	padding: 0.8rem;
	position: fixed;
	bottom: 0;
	right: 2rem;
	border-radius: 0.3rem 0.3rem 0 0;
}
.like-number {
	color: black;
	font-size: 1.1rem;
}
.like-number--liked {
	color: inherit;
	font-size: inherit;
}

/* -------------------- MEDIA LIGHTBOX --------------------  */

.media-modale {
	display: none;
	z-index: 2;
	position: fixed;
	background-color: white;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100vw;
	height: 100vh;
}
.lightbox {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.lightbox .fas {
	font-size: 3rem;
	padding-left: 2rem;
	padding-right: 2rem;
	color: var(--primary);
}

.lightbox .lightbox__close {
	position: absolute;
	top: 5.3rem;
	right: 10rem;
}
.lightbox__media {
	height: 750px;
	/* max-width: 600px; */
}

.lightbox-media-title {
	color: var(--primary);
}

.lightbox__media > img,
.lightbox__media > video {
	/* width: 100%; */
	height: 100%;
	object-fit: contain;
}

/* -------------------- CONTACT MODAL --------------------  */

#contact_modal {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	/* transform: translate(-50%, -50%); */
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	background-color: rgba(196, 196, 196, 0.4);
	z-index: 2;
}

#modal-close {
	position: absolute;
	right: 0;
	top: 0;
}

.modal .close_button {
}

.modal {
	border-radius: 0.31rem;
	background-color: var(--light-red);
	width: 35%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	padding: 2.19rem;
	/* margin: auto; */
}

.modal header {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 100%;
	line-height: 4rem;
	margin-bottom: 5rem;
}

.modal header img {
	cursor: pointer;
}

.modal header h1 {
	color: black;
	font-size: 4rem;
	font-weight: normal;
}

form {
	display: flex;
	width: 100%;
	flex-direction: column;
	align-items: flex-start;
	/* line-height: 2.1rem; */
}

form label {
	color: var(--dark-grey);
	font-size: 2.25rem;
}

form div {
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: self-start;
	margin-bottom: 1.62rem;
}

form input {
	color: var(--dark-grey);
	font-size: 1.6rem;
	padding: 0 0.5rem 0 0.5rem;
	width: 100%;
	height: 4rem;
	border: none;
	border-radius: 0.31rem;
	margin-bottom: -1rem;
}
form textarea {
	color: var(--dark-grey);
	font-size: 1.6rem;
	padding: 0.5rem;
	border: none;
	border-radius: 0.31rem;
	width: 100%;
	height: 10rem;
	resize: none;
}

@keyframes filterMenu {
	from {
		transform: scaleY(0);
	}
	to {
		transform: scaleY(1);
	}
}
