#contact_modal {
	display: none;
}

.photograph-header {
	background-color: var(--light-grey);
	height: 18.75rem;
	margin: 0 6.25rem;
}

.contact_button {
	font-size: 1.25rem;
	font-weight: bold;
	color: white;
	padding: 0.69rem;
	width: 10.62rem;
	height: 4.38rem;
	border: none;
	background-color: var(--primary);
	border-radius: 0.31rem;
	cursor: pointer;
}

.modal {
	border-radius: 0.31rem;
	background-color: var(--light-red);
	width: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	padding: 2.19rem;
	margin: auto;
}

.modal header {
	justify-content: space-between;
	width: 100%;
}

.modal header img {
	cursor: pointer;
}

.modal header h2 {
	font-size: 4rem;
	font-weight: normal;
	text-align: center;
}

form {
	display: flex;
	width: 100%;
	flex-direction: column;
	align-items: flex-start;
}

form label {
	color: var(--dark-grey);
	font-size: 2.25rem;
}

form div {
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: self-start;
	margin-bottom: 1.62rem;
}

form input {
	width: 100%;
	height: 4.25rem;
	border: none;
	border-radius: 0.31rem;
}
