@import url('photographer.css');

:root {
	--secondary: #d3573c;
	--primary: #901c1c;
	--light-grey: #fafafa;
	--grey: #525252;
	--dark-grey: #312e2e;
	--light-red: #db8876;
	--price: #757575;
}

* {
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: 'DM Sans', sans-serif;
	margin: 0;
}
a {
	text-decoration: none;
}

header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	height: 5.62rem;
}

h1 {
	color: var(--primary);
	margin-right: 6.25rem;
}

.logo {
	height: 3.12rem;
	margin-left: 6.25rem;
}

.photographer_section {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 4.37rem;
	margin-top: 6.25rem;
}

.photographer-card {
	justify-self: center;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.photographer-card__name {
	color: var(--secondary);
	margin-top: 1.5rem;
	font-size: 2.25rem;
}

.photographer-card__photo {
	height: 12.5rem;
	width: 12.5rem;
	border-radius: 50%;
	object-fit: cover;
}
.photographer-card__location {
	color: var(--primary);
	font-size: 0.8rem;
}
.photographer-card__price {
	font-size: 0.6rem;

	color: var(--price);
}
.photographer-card__tagline {
	font-size: 0.6rem;
	line-height: 1.2rem;
}
